<% provide :title, "projects" %>

<main class="grid grid-cols-12 gap-4">
  <h1 class="text-3xl col-span-12">Projects</h1>
  <input type="text" placeholder="Search Projects" class="input input-bordered col-span-12" />
  <div class="col-span-12 grid">
    <p class="col-span-12 font-bold">
    Starred Projects
    </p>
    <div class="col-span-12">
      <ul>
        <%= turbo_frame_tag "starred_projects" do %>
          <% @starred_projects.each do |starred_project| %>
            <%= turbo_frame_tag starred_project do %>
              <%= render starred_project.project %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-span-12 grid">
    <p class="col-span-12 font-bold">
    All Projects
    </p>
    <div class="col-span-12">
      <ul>
        <% @projects.each do |project| %>
          <%= turbo_frame_tag project do %>
            <%= render project %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</main>
