<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Liega | <%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if yield(:without_navbar).empty? %>
      <div class="navbar bg-base-100 px-4">
        <%= link_to "Liega", root_path, class: "btn btn-ghost normal-case hidden md:[display:inherit]" %>
        <div class="avatar">
          <div class="rounded-full w-8">
            <img src="https://github.com/ippachi.png" />
          </div>
        </div>
      </div>
    <% end %>

    <div class="prose-sm container mt-2 mx-auto px-4">
      <%= yield %>
    </div>
  </body>
</html>
