<!DOCTYPE html>
<html>
  <head>
    <title>Liega | <%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if yield(:without_navbar).empty? %>
      <div class="navbar bg-base-100 drop-shadow-md">
        <%= link_to "Liega", root_path, class: "btn btn-ghost normal-case text-xl" %>
      </div>
    <% end %>

    <div class="prose-sm container mt-8 mx-auto">
      <%= yield %>
    </div>
  </body>
</html>
